body {
  background: #f5f5f5;
  text-align: center;
}
svg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 5px solid black;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #9b9eff;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10, 2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text,
foreignObject {
  color: #333;
  font: 10px sans-serif;
  pointer-events: none;
}

foreignObject > div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 0.95;
}

text:hover {
  font: 15px sans-serif;
}

text.name {
  width: 50px;
  text-anchor: middle;
  display: block;
  overflow: visible;
  word-wrap: break-word;
}

/* Not using right now */
/* foreignObject {
  height: 50px;
}

foreignObject div {
  line-height: .8;
  font: 12px sans-serif;
  text-align: center;
  background: rgba(255,255,255,.65);
} */
